@import "./variables";
@import '~/node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.body {
  color: $primary
}

.card{
  border: 0;
  background-color: transparent;
  border-radius: 12px;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);

  // .card-header{
  //   border-bottom: 0;
  //   background-color: transparent;
  //   border-radius: 0;
  //   padding: 0;
  // }

  // .card-footer{
  //   background-color: transparent;
  //   padding: 0;
  //   margin-top: 15px;
  //   border:0;
  // }
}

.card img {
  border-radius: 12px;
  object-fit: cover;
}

.card-body {
  padding-top: 0px;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 0px;
  }
  .card {
    width: 100% !important;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  
}
